[data-page="black"] {
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-family: var(--font-mono);
  color: #fff;

  [data-component="header-gradient"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 288px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(0, 0, 0, 0) 100%);
  }

  [data-component="header"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    flex-shrink: 0;

    /* [data-component="header-logo"] { */
    /* } */
  }

  [data-component="content"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;

    [data-slot="hero-black"] {
      margin-top: 110px;

      @media (min-width: 768px) {
        margin-top: 150px;
      }
    }

    [data-slot="cta"] {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      text-align: center;
      margin-top: -18px;

      @media (min-width: 768px) {
        margin-top: 40px;
      }

      [data-slot="heading"] {
        color: rgba(255, 255, 255, 0.92);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */

        span {
          display: inline-block;
        }
      }
      [data-slot="subheading"] {
        color: rgba(255, 255, 255, 0.59);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;

        @media (min-width: 768px) {
          font-size: 18px;
          line-height: 160%;
        }
      }
      [data-slot="button"] {
        display: inline-flex;
        height: 40px;
        padding: 0 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.92);
        text-decoration: none;
        color: #000;
        font-family: "JetBrains Mono Nerd Font";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:hover {
          background: #e0e0e0;
        }

        &:active {
          transform: scale(0.98);
        }
      }
      [data-slot="back-soon"] {
        color: rgba(255, 255, 255, 0.59);
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 20.8px */
      }
      [data-slot="follow-us"] {
        display: inline-flex;
        height: 40px;
        padding: 0 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.17);
        color: rgba(255, 255, 255, 0.59);
        font-family: "JetBrains Mono Nerd Font";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }

      [data-slot="fine-print"] {
        color: rgba(255, 255, 255, 0.39);
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 20.8px */
      }
    }
  }

  [data-component="footer"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;

    @media (min-width: 768px) {
      height: 120px;
    }

    [data-slot="footer-content"] {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: center;

      @media (min-width: 768px) {
        gap: 40px;
      }

      span,
      a {
        color: rgba(255, 255, 255, 0.39);
        font-family: "JetBrains Mono Nerd Font";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }

      [data-slot="github-stars"] {
        color: rgba(255, 255, 255, 0.25);
        font-family: "JetBrains Mono Nerd Font";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      [data-slot="anomaly"] {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }
    [data-slot="anomaly-alt"] {
      color: rgba(255, 255, 255, 0.39);
      font-family: "JetBrains Mono Nerd Font";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      margin-bottom: 24px;

      a {
        color: rgba(255, 255, 255, 0.39);
        font-family: "JetBrains Mono Nerd Font";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
