:root {
  --smoke-dark-1: #131010;
  --smoke-dark-2: #1b1818;
  --smoke-dark-3: #252121;
  --smoke-dark-4: #2d2828;
  --smoke-dark-5: #343030;
  --smoke-dark-6: #3e3939;
  --smoke-dark-7: #4b4646;
  --smoke-dark-8: #645f5f;
  --smoke-dark-9: #716c6b;
  --smoke-dark-10: #7f7979;
  --smoke-dark-11: #b7b1b1;
  --smoke-dark-12: #f1ecec;
  --smoke-light-1: #fdfcfc;
  --smoke-light-2: #f9f8f8;
  --smoke-light-3: #f1f0f0;
  --smoke-light-4: #e9e8e8;
  --smoke-light-5: #e2e0e0;
  --smoke-light-6: #dad9d9;
  --smoke-light-7: #cfcecd;
  --smoke-light-8: #bcbbbb;
  --smoke-light-9: #8e8b8b;
  --smoke-light-10: #848181;
  --smoke-light-11: #656363;
  --smoke-light-12: #211e1e;
  --smoke-dark-alpha-1: #82383803;
  --smoke-dark-alpha-2: #e6c6c60b;
  --smoke-dark-alpha-3: #edd5d516;
  --smoke-dark-alpha-4: #f2e1e11e;
  --smoke-dark-alpha-5: #f5e8e826;
  --smoke-dark-alpha-6: #f5e8e831;
  --smoke-dark-alpha-7: #f7ecec3f;
  --smoke-dark-alpha-8: #faf5f559;
  --smoke-dark-alpha-9: #faf5f467;
  --smoke-dark-alpha-10: #fbf5f576;
  --smoke-dark-alpha-11: #fcf9f9b2;
  --smoke-dark-alpha-12: #fdfbfbf0;
  --smoke-light-alpha-1: #55000003;
  --smoke-light-alpha-2: #25000007;
  --smoke-light-alpha-3: #1100000f;
  --smoke-light-alpha-4: #0c000017;
  --smoke-light-alpha-5: #1100001f;
  --smoke-light-alpha-6: #07000026;
  --smoke-light-alpha-7: #0b060032;
  --smoke-light-alpha-8: #04000044;
  --smoke-light-alpha-9: #07000074;
  --smoke-light-alpha-10: #0400009c;
  --smoke-light-alpha-11: #0700007e;
  --smoke-light-alpha-12: #020000df;
  --yuzu-dark-1: #11120c;
  --yuzu-light-1: #fdfdfb;
  --yuzu-light-2: #fbfceb;
  --yuzu-light-3: #f8fac5;
  --yuzu-light-4: #f2f4a5;
  --yuzu-light-5: #e9eb9a;
  --yuzu-light-6: #dcde8e;
  --yuzu-light-7: #cccd7e;
  --yuzu-light-8: #b6b768;
  --yuzu-light-9: #dcde8d;
  --yuzu-light-10: #d2d384;
  --yuzu-light-11: #7c7c2c;
  --yuzu-light-12: #3d3d23;
  --yuzu-dark-2: #181810;
  --yuzu-dark-3: #262614;
  --yuzu-dark-4: #313115;
  --yuzu-dark-5: #3d3d18;
  --yuzu-dark-6: #4a4a21;
  --yuzu-dark-7: #5a5b2c;
  --yuzu-dark-8: #6f6f36;
  --yuzu-dark-9: #fdffca;
  --yuzu-dark-10: #f4f6c1;
  --yuzu-dark-11: #dbdda0;
  --yuzu-dark-12: #eff1bd;
  --yuzu-dark-alpha-1: #11910002;
  --yuzu-dark-alpha-2: #f1f10008;
  --yuzu-dark-alpha-3: #fafa3317;
  --yuzu-dark-alpha-4: #fbfb2f23;
  --yuzu-dark-alpha-5: #fbfb3730;
  --yuzu-dark-alpha-6: #fcfc533e;
  --yuzu-dark-alpha-7: #fafd6750;
  --yuzu-dark-alpha-8: #ffff6f65;
  --yuzu-dark-alpha-9: #fdffca;
  --yuzu-dark-alpha-10: #fcfec7f6;
  --yuzu-dark-alpha-11: #fdffb8db;
  --yuzu-dark-alpha-12: #fdffc8f0;
  --yuzu-light-alpha-1: #80800004;
  --yuzu-light-alpha-2: #ccd90014;
  --yuzu-light-alpha-3: #e1ea003a;
  --yuzu-light-alpha-4: #dbe0015a;
  --yuzu-light-alpha-5: #c8cd0065;
  --yuzu-light-alpha-6: #b1b50071;
  --yuzu-light-alpha-7: #9b9d0081;
  --yuzu-light-alpha-8: #84860097;
  --yuzu-light-alpha-9: #b1b60072;
  --yuzu-light-alpha-10: #a2a4017b;
  --yuzu-light-alpha-11: #616100d3;
  --yuzu-light-alpha-12: #1e1e00dc;
  --cobalt-dark-1: #091120;
  --cobalt-dark-2: #0d172b;
  --cobalt-dark-3: #0c2255;
  --cobalt-dark-4: #0c2a74;
  --cobalt-dark-5: #113489;
  --cobalt-dark-6: #18409b;
  --cobalt-dark-7: #204cb1;
  --cobalt-dark-8: #2558d0;
  --cobalt-dark-9: #034cff;
  --cobalt-dark-10: #0038ee;
  --cobalt-dark-11: #89b5ff;
  --cobalt-dark-12: #cde2ff;
  --cobalt-light-1: #fcfdff;
  --cobalt-light-2: #f5faff;
  --cobalt-light-3: #eaf2ff;
  --cobalt-light-4: #daeaff;
  --cobalt-light-5: #c8e0ff;
  --cobalt-light-6: #b4d2ff;
  --cobalt-light-7: #98bfff;
  --cobalt-dark-alpha-1: #0011f211;
  --cobalt-dark-alpha-2: #0048fe1c;
  --cobalt-dark-alpha-3: #004dff49;
  --cobalt-dark-alpha-4: #064dfd6b;
  --cobalt-dark-alpha-5: #1157ff81;
  --cobalt-dark-alpha-6: #1e62ff94;
  --cobalt-dark-alpha-7: #2768feac;
  --cobalt-dark-alpha-8: #2a6affcd;
  --cobalt-dark-alpha-9: #034cff;
  --cobalt-dark-alpha-10: #003bffed;
  --cobalt-dark-alpha-11: #89b5ff;
  --cobalt-light-8: #73a4ff;
  --cobalt-dark-alpha-12: #cde2ff;
  --cobalt-light-9: #034cff;
  --cobalt-light-10: #0443de;
  --cobalt-light-11: #1251ec;
  --cobalt-light-12: #0f2b6c;
  --cobalt-light-alpha-1: #0055ff03;
  --cobalt-light-alpha-2: #0080ff0a;
  --cobalt-light-alpha-3: #0062ff15;
  --cobalt-light-alpha-4: #006fff25;
  --cobalt-light-alpha-5: #0070ff37;
  --cobalt-light-alpha-6: #0167ff4b;
  --cobalt-light-alpha-7: #0061ff67;
  --cobalt-light-alpha-8: #005aff8c;
  --cobalt-light-alpha-9: #004afffc;
  --cobalt-light-alpha-10: #0040ddfb;
  --cobalt-light-alpha-11: #0044ebed;
  --cobalt-light-alpha-12: #001e63f0;
  --apple-dark-1: #0c140b;
  --apple-light-1: #fafefa;
  --apple-light-2: #f4fcf3;
  --apple-light-3: #e1fade;
  --apple-light-4: #cef6c9;
  --apple-light-5: #b9efb3;
  --apple-light-6: #9fe598;
  --apple-light-7: #7dd676;
  --apple-light-8: #43c23b;
  --apple-light-9: #12c905;
  --apple-light-10: #00bd00;
  --apple-light-11: #008600;
  --apple-light-12: #184115;
  --apple-dark-2: #121b11;
  --apple-dark-3: #152d13;
  --apple-dark-4: #123d0f;
  --apple-dark-5: #174b14;
  --apple-dark-6: #1d5b19;
  --apple-dark-7: #226c1e;
  --apple-dark-8: #267f20;
  --apple-dark-9: #12c905;
  --apple-dark-10: #17bb0d;
  --apple-dark-11: #37db2e;
  --apple-dark-12: #aff7a8;
  --apple-dark-alpha-1: #00d10004;
  --apple-dark-alpha-2: #29f9120b;
  --apple-dark-alpha-3: #33ff221e;
  --apple-dark-alpha-4: #17fb0730;
  --apple-dark-alpha-5: #2afc1e3f;
  --apple-dark-alpha-6: #37fd2b50;
  --apple-dark-alpha-7: #3efe3362;
  --apple-dark-alpha-8: #3fff3276;
  --apple-dark-alpha-9: #12fe02c6;
  --apple-dark-alpha-10: #19fe0cb7;
  --apple-dark-alpha-11: #3dfe33d9;
  --apple-dark-alpha-12: #b4feacf7;
  --apple-light-alpha-1: #00cc0005;
  --apple-light-alpha-2: #16c0000c;
  --apple-light-alpha-3: #18d90021;
  --apple-light-alpha-4: #18d50036;
  --apple-light-alpha-5: #15ca004c;
  --apple-light-alpha-6: #12bf0067;
  --apple-light-alpha-7: #0db30089;
  --apple-light-alpha-8: #0bb000c4;
  --apple-light-alpha-9: #0dc800fa;
  --apple-light-alpha-10: #00bd00;
  --apple-light-alpha-11: #008600;
  --apple-light-alpha-12: #033000ea;
  --ember-dark-1: #170f0d;
  --ember-dark-2: #201412;
  --ember-dark-3: #3c140d;
  --ember-dark-4: #530e05;
  --ember-dark-5: #631409;
  --ember-dark-6: #742216;
  --ember-dark-7: #8d3324;
  --ember-dark-8: #b64330;
  --ember-dark-9: #fc533a;
  --ember-dark-10: #ee462d;
  --ember-dark-11: #ff917b;
  --ember-dark-12: #ffd1c8;
  --ember-light-1: #fffcfb;
  --ember-light-2: #fff6f3;
  --ember-light-3: #ffe9e4;
  --ember-light-4: #ffd7cc;
  --ember-light-5: #ffc8ba;
  --ember-light-6: #ffb7a6;
  --ember-light-7: #ffa392;
  --ember-light-8: #f68975;
  --ember-light-9: #fc533a;
  --ember-light-10: #ef442a;
  --ember-light-11: #da3319;
  --ember-light-12: #5c281f;
  --ember-dark-alpha-1: #ec000007;
  --ember-dark-alpha-2: #f23e2011;
  --ember-dark-alpha-3: #fb22002f;
  --ember-dark-alpha-4: #ff070047;
  --ember-dark-alpha-5: #ff1a0058;
  --ember-dark-alpha-6: #fd3a1d6b;
  --ember-dark-alpha-7: #ff533685;
  --ember-dark-alpha-8: #ff5a3eb1;
  --ember-dark-alpha-9: #ff553bfc;
  --ember-dark-alpha-10: #ff4a2fed;
  --ember-dark-alpha-11: #ff917b;
  --ember-dark-alpha-12: #ffd1c8;
  --ember-light-alpha-1: #ff400004;
  --ember-light-alpha-2: #ff40000c;
  --ember-light-alpha-3: #ff30001b;
  --ember-light-alpha-4: #ff370033;
  --ember-light-alpha-5: #ff340045;
  --ember-light-alpha-6: #ff310059;
  --ember-light-alpha-7: #ff28006d;
  --ember-light-alpha-8: #ef25008a;
  --ember-light-alpha-9: #fb2200c5;
  --ember-light-alpha-10: #ec1f00d5;
  --ember-light-alpha-11: #d61d00e6;
  --ember-light-alpha-12: #460a00e0;
  --solaris-dark-1: #13110b;
  --solaris-dark-2: #1b180f;
  --solaris-dark-3: #2a2307;
  --solaris-dark-4: #382b00;
  --solaris-dark-5: #443500;
  --solaris-dark-6: #514307;
  --solaris-dark-7: #64551a;
  --solaris-dark-8: #7f6c25;
  --solaris-dark-9: #fcd53a;
  --solaris-dark-10: #f2cb2a;
  --solaris-dark-11: #fdd63c;
  --solaris-dark-12: #faebb5;
  --solaris-light-1: #fefdfa;
  --solaris-light-2: #fffbea;
  --solaris-light-3: #fff6be;
  --solaris-light-4: #ffee9c;
  --solaris-light-5: #ffe47c;
  --solaris-light-6: #f2d775;
  --solaris-light-7: #e0c76f;
  --solaris-light-8: #cdb047;
  --solaris-light-9: #ffdc17;
  --solaris-light-10: #fad337;
  --solaris-light-11: #917500;
  --solaris-light-12: #433c22;
  --solaris-dark-alpha-1: #bb110003;
  --solaris-dark-alpha-2: #f9b4000b;
  --solaris-dark-alpha-3: #febb001b;
  --solaris-dark-alpha-4: #feaf002a;
  --solaris-dark-alpha-5: #feb80037;
  --solaris-dark-alpha-6: #feca0045;
  --solaris-dark-alpha-7: #ffd42b59;
  --solaris-dark-alpha-8: #ffd63d76;
  --solaris-dark-alpha-9: #ffd83bfc;
  --solaris-dark-alpha-10: #fed52bf2;
  --solaris-dark-alpha-11: #ffd83cfd;
  --solaris-dark-alpha-12: #fff0b9fa;
  --solaris-light-alpha-1: #cc990005;
  --solaris-light-alpha-2: #ffcf0015;
  --solaris-light-alpha-3: #ffdc0041;
  --solaris-light-alpha-4: #ffd40063;
  --solaris-light-alpha-5: #ffcb0083;
  --solaris-light-alpha-6: #e7b6008a;
  --solaris-light-alpha-7: #c89c0090;
  --solaris-light-alpha-8: #ba9200b8;
  --solaris-light-alpha-9: #ffd900e8;
  --solaris-light-alpha-10: #f9c700c8;
  --solaris-light-alpha-11: #917500;
  --solaris-light-alpha-12: #261e00dd;
  --lilac-dark-1: #140f14;
  --lilac-dark-2: #1d141d;
  --lilac-dark-3: #2f1e31;
  --lilac-dark-4: #3e2440;
  --lilac-dark-5: #4a2c4c;
  --lilac-dark-6: #573859;
  --lilac-dark-7: #6c486e;
  --lilac-dark-8: #8a5e8d;
  --lilac-dark-9: #edb2f1;
  --lilac-dark-10: #e2a8e6;
  --lilac-dark-11: #dca2e0;
  --lilac-dark-12: #edd8ef;
  --lilac-light-1: #fffcff;
  --lilac-light-2: #fdf7fe;
  --lilac-light-3: #fceafd;
  --lilac-light-4: #faddfb;
  --lilac-light-5: #f5cff7;
  --lilac-light-6: #eebff1;
  --lilac-light-7: #e3a9e7;
  --lilac-light-8: #d78bdd;
  --lilac-light-9: #a753ae;
  --lilac-light-10: #9946a0;
  --lilac-light-11: #95429c;
  --lilac-light-12: #590b60;
  --lilac-dark-alpha-1: #d100d104;
  --lilac-dark-alpha-2: #fd4cfd0d;
  --lilac-dark-alpha-3: #ec70fb23;
  --lilac-dark-alpha-4: #f270fc33;
  --lilac-dark-alpha-5: #f57dfd40;
  --lilac-dark-alpha-6: #f691fd4e;
  --lilac-dark-alpha-7: #fa9eff64;
  --lilac-dark-alpha-8: #f9a5ff85;
  --lilac-dark-alpha-9: #fbbcfff0;
  --lilac-dark-alpha-10: #f9b9fee5;
  --lilac-dark-alpha-11: #fab8ffde;
  --lilac-dark-alpha-12: #fde6ffee;
  --lilac-light-alpha-1: #ff00ff03;
  --lilac-light-alpha-2: #c000e008;
  --lilac-light-alpha-3: #db00e715;
  --lilac-light-alpha-4: #da00e122;
  --lilac-light-alpha-5: #ca00d530;
  --lilac-light-alpha-6: #bc00c840;
  --lilac-light-alpha-7: #ac00b856;
  --lilac-light-alpha-8: #a800b574;
  --lilac-light-alpha-9: #7d0087ac;
  --lilac-light-alpha-10: #73007cb9;
  --lilac-light-alpha-11: #70007abd;
  --lilac-light-alpha-12: #520059f4;
  --coral-dark-1: #160f0e;
  --coral-light-1: #fffcfc;
  --coral-light-2: #fff8f7;
  --coral-light-3: #ffebe8;
  --coral-light-4: #ffdbd5;
  --coral-light-5: #ffcdc5;
  --coral-light-6: #f9beb5;
  --coral-light-7: #e9aea6;
  --coral-light-8: #d49b93;
  --coral-light-9: #af7871;
  --coral-light-10: #a26c65;
  --coral-light-11: #9c665f;
  --coral-light-12: #592a24;
  --coral-dark-2: #1f1413;
  --coral-dark-3: #391613;
  --coral-dark-4: #481b17;
  --coral-dark-5: #542621;
  --coral-dark-6: #63332d;
  --coral-dark-7: #77453f;
  --coral-dark-8: #935e57;
  --coral-dark-9: #ffd6d0;
  --coral-dark-10: #f5ccc6;
  --coral-dark-11: #e2a8a0;
  --coral-dark-12: #fcd3cd;
  --coral-dark-alpha-1: #e6000006;
  --coral-dark-alpha-2: #ff44330f;
  --coral-dark-alpha-3: #ff2f1d2b;
  --coral-dark-alpha-4: #ff3d2b3b;
  --coral-dark-alpha-5: #ff5c4a48;
  --coral-dark-alpha-6: #ff746358;
  --coral-dark-alpha-7: #fd897c6e;
  --coral-dark-alpha-8: #fe9d908c;
  --coral-dark-alpha-9: #ffd6d0;
  --coral-dark-alpha-10: #fed3cdf5;
  --coral-dark-alpha-11: #ffbdb4e0;
  --coral-dark-alpha-12: #ffd6cffc;
  --coral-light-alpha-1: #ff000003;
  --coral-light-alpha-2: #ff200008;
  --coral-light-alpha-3: #ff220017;
  --coral-light-alpha-4: #ff25002a;
  --coral-light-alpha-5: #ff24003a;
  --coral-light-alpha-6: #eb20014a;
  --coral-light-alpha-7: #c0170059;
  --coral-light-alpha-8: #9a13006c;
  --coral-light-alpha-9: #700d008e;
  --coral-light-alpha-10: #650c009a;
  --coral-light-alpha-11: #620b00a0;
  --coral-light-alpha-12: #3e0700db;
  --mint-dark-alpha-1: #00bb0003;
  --mint-dark-alpha-2: #2bf72b0a;
  --mint-dark-alpha-3: #66fe5d1b;
  --mint-dark-alpha-4: #63ff5d2c;
  --mint-dark-alpha-5: #6cff643b;
  --mint-dark-alpha-6: #71ff6a4b;
  --mint-dark-alpha-7: #74fd6f5d;
  --mint-dark-alpha-8: #74ff6f72;
  --mint-dark-alpha-9: #c8ffc4f5;
  --mint-dark-alpha-10: #c6fec2f5;
  --mint-dark-alpha-11: #b4ffafdc;
  --mint-dark-alpha-12: #c7ffc3fb;
  --mint-dark-1: #0d130c;
  --mint-dark-2: #121a12;
  --mint-dark-3: #1a2a19;
  --mint-dark-4: #1f3a1e;
  --mint-dark-5: #264824;
  --mint-dark-6: #2d572b;
  --mint-dark-7: #356733;
  --mint-dark-8: #3d7b3b;
  --mint-dark-9: #c8ffc4;
  --mint-dark-10: #bff5bb;
  --mint-dark-11: #9dde99;
  --mint-dark-12: #c4fbc0;
  --mint-light-1: #fafefa;
  --mint-light-2: #f4fcf3;
  --mint-light-3: #dbfdd8;
  --mint-light-4: #c3fabf;
  --mint-light-5: #adf2a8;
  --mint-light-6: #96e692;
  --mint-light-7: #81d47d;
  --mint-light-8: #6abc67;
  --mint-light-9: #9ff29a;
  --mint-light-10: #98e793;
  --mint-light-11: #318430;
  --mint-light-12: #1f461d;
  --mint-dark-alpha-1: #00bb0003;
  --mint-dark-alpha-2: #2bf72b09;
  --mint-dark-alpha-3: #66fe5d1b;
  --mint-dark-alpha-4: #63ff5d2b;
  --mint-dark-alpha-5: #6cff643b;
  --mint-dark-alpha-6: #71ff6a4a;
  --mint-dark-alpha-7: #74fd6f5c;
  --mint-dark-alpha-8: #74ff6f72;
  --mint-dark-alpha-9: #c8ffc4f5;
  --mint-dark-alpha-10: #c6fec2f5;
  --mint-dark-alpha-11: #b4ffafdb;
  --mint-dark-alpha-12: #c7ffc3fa;
  --black: #000000;
  --white: #ffffff;
  --mint-light-alpha-1: #00cc0005;
  --mint-light-alpha-2: #16c0000c;
  --mint-light-alpha-3: #14f20027;
  --mint-light-alpha-4: #10ec0040;
  --mint-light-alpha-5: #0fd90057;
  --mint-light-alpha-6: #0ac5006d;
  --mint-light-alpha-7: #08ab0082;
  --mint-light-alpha-8: #058f0098;
  --mint-light-alpha-9: #0ddf0065;
  --mint-light-alpha-10: #0cc7006c;
  --mint-light-alpha-11: #016800cf;
  --mint-light-alpha-12: #022e00e2;
  --blue-dark-1: #0e161f;
  --blue-dark-2: #0f1b2d;
  --blue-dark-3: #0f233c;
  --blue-dark-4: #10294b;
  --blue-dark-5: #0e2f57;
  --blue-dark-6: #0c3768;
  --blue-dark-7: #094280;
  --blue-dark-8: #0854a4;
  --blue-dark-9: #0091ff;
  --blue-dark-10: #389eff;
  --blue-dark-11: #51a8ff;
  --blue-dark-12: #eaf6ff;
  --blue-light-1: #f9fcff;
  --blue-light-2: #f5faff;
  --blue-light-3: #eaf4ff;
  --blue-light-4: #e0efff;
  --blue-light-5: #cde6fd;
  --blue-light-6: #b9d9f8;
  --blue-light-7: #96c7f2;
  --blue-light-8: #5cafee;
  --blue-light-9: #0091ff;
  --blue-light-10: #007fef;
  --blue-light-11: #0069db;
  --blue-light-12: #00254d;
  --blue-dark-alpha-1: #00000000;
  --blue-dark-alpha-2: #0c58fc0f;
  --blue-dark-alpha-3: #1576fd23;
  --blue-dark-alpha-4: #1576fd33;
  --blue-dark-alpha-5: #107bfd3f;
  --blue-dark-alpha-6: #0a7cff51;
  --blue-dark-alpha-7: #057dff70;
  --blue-dark-alpha-8: #057dff99;
  --blue-dark-alpha-9: #0094fff9;
  --blue-dark-alpha-10: #38a2fff9;
  --blue-dark-alpha-11: #51abfff9;
  --blue-dark-alpha-12: #effbfff9;
  --blue-light-alpha-1: #0582ff05;
  --blue-light-alpha-2: #0582ff0a;
  --blue-light-alpha-3: #007fff11;
  --blue-light-alpha-4: #007fff1e;
  --blue-light-alpha-5: #017fee30;
  --blue-light-alpha-6: #0176e447;
  --blue-light-alpha-7: #0077e068;
  --blue-light-alpha-8: #0082e5a0;
  --blue-light-alpha-9: #0090fff9;
  --blue-light-alpha-10: #007feff9;
  --blue-light-alpha-11: #0066dbf9;
  --blue-light-alpha-12: #002047f9;
  --ink-dark-1: #101313;
  --ink-dark-2: #181b1b;
  --ink-dark-3: #212525;
  --ink-dark-4: #282d2d;
  --ink-dark-5: #303434;
  --ink-dark-6: #393e3e;
  --ink-dark-7: #464b4b;
  --ink-dark-8: #5f6464;
  --ink-dark-9: #6b7171;
  --ink-dark-10: #797f7f;
  --ink-dark-11: #b1b7b7;
  --ink-dark-12: #ecf1f1;
  --ink-light-1: #fcfdfd;
  --ink-light-2: #f8f9f9;
  --ink-light-3: #f0f1f1;
  --ink-light-4: #e8e9e9;
  --ink-light-5: #e0e2e2;
  --ink-light-6: #d9dada;
  --ink-light-7: #cdcfcf;
  --ink-light-8: #bbbcbc;
  --ink-light-9: #8b8e8e;
  --ink-light-10: #818484;
  --ink-light-11: #636565;
  --ink-light-12: #1e2121;
  --ink-dark-alpha-1: #38828203;
  --ink-dark-alpha-2: #c6e6e60b;
  --ink-dark-alpha-3: #d5eded16;
  --ink-dark-alpha-4: #e1f2f21e;
  --ink-dark-alpha-5: #e8f5f526;
  --ink-dark-alpha-6: #e8f5f531;
  --ink-dark-alpha-7: #ecf7f73f;
  --ink-dark-alpha-8: #f5fafa59;
  --ink-dark-alpha-9: #f4fafa67;
  --ink-dark-alpha-10: #f5fbfb76;
  --ink-dark-alpha-11: #f9fcfcb2;
  --ink-dark-alpha-12: #fbfdfdf0;
  --ink-light-alpha-1: #00555503;
  --ink-light-alpha-2: #00252507;
  --ink-light-alpha-3: #0011110f;
  --ink-light-alpha-4: #000c0c17;
  --ink-light-alpha-5: #0011111f;
  --ink-light-alpha-6: #00070726;
  --ink-light-alpha-7: #000b0b32;
  --ink-light-alpha-8: #00040444;
  --ink-light-alpha-9: #00070774;
  --ink-light-alpha-10: #0004049c;
  --ink-light-alpha-11: #0007077e;
  --ink-light-alpha-12: #000202df;
  --amber-light-1: #fefdfb;
  --amber-light-2: #fff9ed;
  --amber-light-3: #fff4d5;
  --amber-light-4: #ffecbc;
  --amber-light-5: #ffe3a2;
  --amber-light-6: #ffd386;
  --amber-light-7: #f3ba63;
  --amber-light-8: #ee9d2b;
  --amber-light-9: #ffb224;
  --amber-light-10: #ffa01c;
  --amber-light-11: #ad5700;
  --amber-light-12: #4e2009;
  --amber-dark-1: #1f1300;
  --amber-dark-2: #271700;
  --amber-dark-3: #341c00;
  --amber-dark-4: #3f2200;
  --amber-dark-5: #4a2900;
  --amber-dark-6: #573300;
  --amber-dark-7: #693f05;
  --amber-dark-8: #824e00;
  --amber-dark-9: #ffb224;
  --amber-dark-10: #ffcb47;
  --amber-dark-11: #f1a10d;
  --amber-dark-12: #fef3dd;
  --amber-light-alpha-1: #c0820505;
  --amber-light-alpha-2: #ffab0211;
  --amber-light-alpha-3: #ffbb012b;
  --amber-light-alpha-4: #ffb70042;
  --amber-light-alpha-5: #ffb3005e;
  --amber-light-alpha-6: #ffa20177;
  --amber-light-alpha-7: #ec8d009b;
  --amber-light-alpha-8: #ea8900d3;
  --amber-light-alpha-9: #ffa600db;
  --amber-light-alpha-10: #ff9500e2;
  --amber-light-alpha-11: #ab5300f9;
  --amber-light-alpha-12: #481800f4;
  --amber-dark-alpha-1: #00000000;
  --amber-dark-alpha-2: #fd83000a;
  --amber-dark-alpha-3: #fe730016;
  --amber-dark-alpha-4: #ff7b0023;
  --amber-dark-alpha-5: #ff840030;
  --amber-dark-alpha-6: #ff95003f;
  --amber-dark-alpha-7: #ff970f54;
  --amber-dark-alpha-8: #ff990070;
  --amber-dark-alpha-9: #ffb625f9;
  --amber-dark-alpha-10: #ffce48f9;
  --amber-dark-alpha-11: #ffab0eef;
  --amber-dark-alpha-12: #fff8e1f9;
}
