/* [data-component="dialog-trigger"] { } */

[data-component="dialog-overlay"] {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: hsl(from var(--background-base) h s l / 0.2);

  /* animation: overlayHide 250ms ease 100ms forwards; */
  /**/
  /* &[data-expanded] { */
  /*   animation: overlayShow 250ms ease; */
  /* } */
}

[data-component="dialog"] {
  position: fixed;
  inset: 0;
  margin-left: var(--dialog-left-margin);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;

  [data-slot="dialog-container"] {
    position: relative;
    z-index: 50;
    width: min(calc(100vw - 16px), 480px);
    height: min(calc(100vh - 16px), 512px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;

    [data-slot="dialog-content"] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      width: 100%;
      max-height: 100%;
      min-height: 280px;

      /* padding: 8px; */
      /* padding: 8px 8px 0 8px; */
      border: 1px solid
        light-dark(
          color-mix(in oklch, var(--border-base) 30%, transparent),
          color-mix(in oklch, var(--border-base) 50%, transparent)
        );
      border-radius: var(--radius-xl);
      background: var(--surface-raised-stronger-non-alpha);
      background-clip: padding-box;
      box-shadow: var(--shadow-lg);

      /* animation: contentHide 300ms ease-in forwards; */
      /**/
      /* &[data-expanded] { */
      /*   animation: contentShow 300ms ease-out; */
      /* } */

      [data-slot="dialog-header"] {
        display: flex;
        padding: 16px 16px 16px 24px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;

        [data-slot="dialog-title"] {
          color: var(--text-strong);

          /* text-16-medium */
          font-family: var(--font-family-sans);
          font-size: var(--font-size-large);
          font-style: normal;
          font-weight: var(--font-weight-medium);
          line-height: var(--line-height-x-large); /* 150% */
          letter-spacing: var(--letter-spacing-tight);
        }
        /* [data-slot="dialog-close-button"] {} */
      }

      [data-slot="dialog-description"] {
        display: flex;
        padding: 16px;
        padding-left: 24px;
        padding-top: 0;
        margin-top: -8px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;

        color: var(--text-base);

        /* text-14-regular */
        font-family: var(--font-family-sans);
        font-size: 14px;
        font-style: normal;
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-large); /* 142.857% */
        letter-spacing: var(--letter-spacing-normal);
      }

      [data-slot="dialog-body"] {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;

        &:focus-visible {
          outline: none;
        }
      }
      &:focus-visible {
        outline: none;
      }
    }

    &:focus-visible {
      outline: none;
    }
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}
